.centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 250%);
    padding: 10px;
}
.BFSButton button{
    background-image: url('assets/BFSButton.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin: auto;
    margin-left: 30%;
    margin-top: 20%;
}
.IDSButton button{
    background-image: url('assets/IDSButton.png');
    background-size: cover;
    border: none;   
    cursor: pointer;
    position: relative;
    width: 100px; /* Adjust the width and height as needed */
    height: 40px;
    top: 70%;
    left: 610px;
}
.wallpaper {
    margin: auto;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url('assets/background2.png');/* Change the background color to your desired color or add background-image property with URL for an image */
}
.popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    padding: 10px;
}