* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("assets/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    align-items: center;
}

.logo {
    margin-top: 30px;
    width: 50%;
}

.input {
    margin: 30px 0;
    display: flex;
}

.textke {
    margin: 0 10px;
}

.switch {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.BFSButton button{
    background-image: url('assets/BFSButton.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
}
.IDSButton button{
    background-image: url('assets/IDSButton.png');
    background-size: cover;
    border: none;   
    cursor: pointer;
    width: 100px;
    height: 40px;
}
.popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}